.experience {
    gap: 0;
}

.mt-44 {
    margin-top: 44px;
}

.experience-card {
    background-color: #F5F7F899;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.experience-content-container {
    padding: 16px;
}

.experience-content {
    justify-content: start;
}