.jump-approval-texts {
  max-height: 600px;
  overflow-y: auto;
}
.jump-approval-texts p {
  font-size: var(--size-sm);
  font-weight: 400;
  padding-bottom: 10px;
  color: var(--color-text-primary);
}
.form-style {
  font-size: var(--size-md);
  font-weight: 600;
}
.form-style label {
  font-size: var(--size-md);
  font-weight: 600;
  color: white;
  display: block;
  padding-bottom: 12px;
}
.form-style input {
  background-color: white;
  border-radius: 16px;
  padding: 14px;
  border: 1px solid #0101011d;
  width: 100%;
}

.signature-box {
  max-width: 556px;
  margin: auto;
  width: 100%;
}
.signature-box div {
  background-color: white;
  border-radius: 16px;
  padding: 12px;
  height: 280px;
  position: relative;
}
.signature-box button {
  border: 1px solid var(--color-red);
  border-radius: 16px;
  background-color: var(--color-red-bg);
  position: absolute;
  left: 15px;
  bottom: 15px;
  color: var(--color-red);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 15px 8px 25px;
}
.signature-box button::before {
  content: "";
  height: 36px;
  width: 36px;
  background-image: url("../images/delete.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}
