@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");
@import "./reset.css";
@import "./root.css";
@import "./global.css";
@import "./typography.css";
@import "../styles/form-content.css";
@import "./steps.css";
@import "./popup.css";
@import "./redeem-club.css";
@import "./footer.css";
@import "./how-to-recieve-tickets.css";
@import "./order-summary.css";
@import "./valid-card.css";
@import "./choose-time.css";
@import "./experience.css";
@import "./current-purchase.css";
@import "./details-feeling.css";
@import "./customers.css";
@import "./button-animation.css";
@import "./keyboard.css";
