.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: 11;
}

.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000040;
}

.popup-img {
  height: 338px;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
}

.popup-box {
  background-color: var(--white-color);
  padding: 40px;
  max-width: 804px;
  border-radius: 36px;
  position: relative;
  z-index: 999;
  min-width: 800px;
  min-height: 800px;
}

.popup-title {
  margin-top: 68px;
  margin-bottom: 16px;
}

.popup-sub-title {
  font-weight: 400;
  padding-top: 8px;
  margin: 0 auto;
}

.orange-btn.has-left-icon::before {
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("/assets/images/left-arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.blue-btn.has-left-icon::after {
  content: "";
  width: 28px;
  height: 28px;
  background-image: url("/assets/images/right-blue-arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-box {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
  margin-top: 73px;
}
