.club {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 838px;
}

.club-box {
    padding: 24px;
    background-color: var(--white-color);
    display: flex;
    min-height: 369px;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 24px;
    flex-direction: column;
    transition: all 300ms linear;
}

.club-box:hover {
    border-color: var(--text-primary);
    box-shadow: 0px 16px 40px 0px #00000040;
}

.club-box-img {
    size: 180px;
}

.club-box-title {
    margin-top: 16px;
}