.club {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 838px;
}

.club-box {
    padding: 24px;
    background-color: var(--white-color);
    display: flex;
    min-height: 399px;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 24px;
    flex-direction: column;
}

.club-box-img {
    size: 180px;
}

.club-box-title {
    margin-top: 16px;
}