.steps-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    position: relative;
}

.steps-group::before {
    content: "";
    height: 3px;
    width: 90%;
    background-color: #ffffff;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.steps-group.step-1::before {
    background-image: linear-gradient(to right,
            #ffffff 0%,
            #ffffff 50%,
            #ffffff 50%,
            #ffffff 100%);
}

.steps-group.step-2::before {
    background-image: linear-gradient(to right,
            #ffffff 0%,
            #ffffff 50%,
            #023760 50%,
            #023760 100%);
}

.steps-group.step-3::before {
    background-image: linear-gradient(to right,
            #023760 0%,
            #023760 50%,
            #023760 50%,
            #023760 100%);
}

.steps-group.step-1 .step-item:nth-child(2)>div:nth-child(1),
.steps-group.step-1 .step-item:nth-child(3)>div:nth-child(1) {
    background-image: linear-gradient(to top, #ffffff, #ffffff);
    color: var(--color-text-primary);
}

.steps-group.step-2 .step-item:nth-child(3)>div:nth-child(1) {
    background-image: linear-gradient(to top, #ffffff, #ffffff);
    color: var(--color-text-primary);
}

.step-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.step-item-number {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    background-image: linear-gradient(to top, #001f2c, #004c8c, #00375f);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--size-md);
    font-weight: 700;
    color: #ffffff;
}

.step-item-title {
    font-size: var(--size-md);
    font-weight: 700;
    color: var(--color-text-primary);
}