.outer-border-left {
  position: relative !important;
}

.outer-border-left::after {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: inherit;
  pointer-events: none;
  border: 3px solid var(--color-secondary);
  clip-path: inset(2px 35% 2px 0 round 12px);
  clip-path: inset(0 45% 0 0);
  transition: clip-path 0.45s cubic-bezier(0.8, 0, 0.2, 1);
  will-change: clip-path;
}

.outer-border-right {
  position: relative;
}

.outer-border-right::after {
  content: "";
  position: absolute;
  inset: -10px;
  border-radius: inherit;
  pointer-events: none;
  border: 3px solid var(--color-secondary) !important;
  clip-path: inset(0 0 0 45%);
  transition: clip-path 0.45s cubic-bezier(0.8, 0, 0.2, 1);
  will-change: clip-path;
}

.outer-border-right:hover::after,
.outer-border-left:hover::after {
  clip-path: inset(0 0 0 0);
}