.activity-name {
    font-weight: 600;
}

.activity-content {
    justify-content: start;
}

.time-selection-card {
    gap: 48px;
}

.activity-img {
    width: 181px;
    height: 120px;
    border-radius: 12px;
    object-fit: cover;
}

.times-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.time-slot {
    padding: 12px 0px;
    border-radius: 12px;
    cursor: pointer;
    background-color: #F4F7FA;
    border: 1px solid #01010133;
    font-weight: 600;
    color: var(--color-text-primary);
    line-height: var(--line-height-sm);
    font-size: 22px;
    transition: 0.3s;
}

.time-slot:hover {
    background: #e8f0ff;
}

.time-slot.selected {
    background: var(--white-color);
    border: 2px solid var(--color-text-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}