.steps-group {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  width: 100%;
  position: relative;
  direction: rtl;
}

.steps-group::before {
  content: "";
  position: absolute;
  top: 35px;
  right: 36px;
  width: calc(100% - 72px);
  height: 3px;
  background-color: #ffffff;
  z-index: -1;
}

.steps-group::after {
  content: "";
  position: absolute;
  top: 35px;
  right: 36px;
  width: calc(100% - 72px);
  height: 3px;
  background-color: #023760;
  transform-origin: right center;
  transform: scaleX(0);
  transition: transform 0.4s ease;
  z-index: -1;
}

.steps-group.step-2::after {
  transform: scaleX(0.33);
}

.steps-group.step-3::after {
  transform: scaleX(0.66);
}

.steps-group.step-4::after {
  transform: scaleX(1);
}

.step-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.step-item-number {
  height: 72px;
  width: 72px;
  border-radius: 50%;
  background: #ffffff;
  color: var(--color-text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--size-md);
  font-weight: 700;
  transition: all 0.3s ease;
}

.steps-group.step-1 .step-item:nth-child(1) .step-item-number,
.steps-group.step-2 .step-item:nth-child(-n + 2) .step-item-number,
.steps-group.step-3 .step-item:nth-child(-n + 3) .step-item-number,
.steps-group.step-4 .step-item:nth-child(-n + 4) .step-item-number {
  background-image: linear-gradient(to top, #001f2c, #004c8c, #00375f);
  color: #ffffff;
}

.step-item-title {
  font-size: var(--size-md);
  font-weight: 700;
  color: var(--color-text-primary);
  background: linear-gradient(
    360deg,
    #001f2c 11.11%,
    #004c8c 40.56%,
    #00375f 79.17%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
